.Paper {
  margin: 24px;
  padding: 24px;

  .Top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    align-items: center;
    .Avatar {
      width: 100px;
      height: 100px;
      margin-right: 24px;
    }
  }

  .Title {
    div {
      padding-bottom: 4px;
    }
  }

  .AdditionalData {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}
